################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/corderos-app/CopilotIndices/17.14.1290.42047
/.vs/corderos-app/FileContentIndex
/.vs
