apiVersion: v1
kind: Service
metadata:
  name: postgres-hl
  namespace: corderos
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: postgres
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
